body{
  background-color: #F6F4F6;
}
main {
  margin-top: 65px;
}
ul.messages li{
  text-align: center;
  list-style-type: none;
  width: 30%;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 12px;
  background-color: lightblue;
  border-radius: 0.25rem;
}
ul.messages li.error{
  background-color: darkred;
}
ul.messages li.success{
  background-color: darkgreen;
}
ul.messages li.warning{
  background-color: yellow;
}

.errorlist li{
  color: red;
  font-weight: bold;
}

ul.messages li.edit_form_msg_li{
  background-color: inherit;
}

ul.messages li.edit_form_msg_li ul li{
  text-align: left;
  list-style-type: square;
  width: 100%;
  background-color: darkred;
}

/* Navbar style */

.navbar-user-profile-pic {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 3px;
}


/* The sidebar menu */

.profile_container {
  display: flex;
  margin-top: 65px;
}
.sidenav {
  padding-top: 40px;
  height: 100%;
  width: 280px;
  min-width: 280px;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */

.sidenav a {
  padding: 6px 8px 12px 45px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: grey;
}
/* Style page content */

.main_page {
  height: 100%;
  width: 100%;
}

.user-profile-info{
  margin: 10px;
}

#user-profile-picture {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin: 35px 0 20px 30px;
  border: 1px solid black;
}

#user-profile-username {
  margin: 98px 3% 3% 3%;
  font-size: 35px;
}

.user-profile-small-info {
  margin: 20px 20px 20px 50px;
  display: inline-block;
  flex-shrink: 0;
}

.user-profile-small-info a {
  font-size: 20px;
  margin: 0 1px 15px 0;
  display: block;
}

#profile_lower_container{
  display: flex;
  justify-content: space-between;
}

#profile_bio{
  display: inline-block;
  margin: 20px 20px 0 0;
  width: 50%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

/* Some of the auction list styles - other styles in the list still need to be moved other */
.card-header h5{
  overflow: hidden;
  height: 24px;
}

#auctions_container div.card{
  min-width: 18rem;
  width: 33%;
  margin:5px auto;
}

.auction-Title {
  font-size: 26px;
  margin: 0 0 20px;
  text-align: center;
}

@media screen and (min-width: 700px){
  #search_container {
  width: 68%;
  margin: 10px;
  }

  #search_container a{
    border-radius: 0.25rem;
    height: 45px;
    margin: 24px 10px 0 0;
  }

  #search_container input#search-box{
    height: 45px;
    margin-top: 24px;
    border-radius: 0.25rem 0 0 0.25rem;
  }

  #search_container #orderby_drop, #direction_drop{
    margin-bottom:0;
    padding-left: 0;
    height: 70px;
    width: 155px;
  }
  #search_container #order_by_select, #search_container #direction_select{
    height: 45px;
    display: block;
    border-radius: 0;
  }

  #search_container #search-btn{
    margin-top: 24px;
    height: 45px;
    border-radius: 0 0.25rem 0.25rem 0
  }
}


@media screen and (max-width: 1274px) {
  #auctions_container div.card{
    min-width: 18rem;
    width: 50%;
    margin:5px auto;
  }
}

@media screen and (max-width: 950px) {
  #search_container{
    width: 95%;
  }
}

@media screen and (max-width: 860px){
  #auctions_container div.card{
    min-width: 18rem;
    width: 100%;
    margin:5px auto;
  }
}

@media screen and (max-width: 700px){
  #search_container{
    flex-wrap: wrap;
    width: 98%;
    margin: 0 auto;
  }
  #search_container input{
    margin: 5px 0 0 0;
    border-radius: 0.25rem;
    height: 39px;
  }
  #search_container #orderby_drop, #direction_drop{
    width: 100%;
    display: flex;
    padding-left: 0;
  }
  #search_container #orderby_drop{
    margin-top: 10px;
    margin-bottom: -1px;
    height: 44px;
  }
  #search_container ul label{
    width: 80px;
    padding-top: 7px;
  }
  #orderby_drop select{
    border-radius: 0.25rem 0.25rem 0 0;
  }
  #direction_drop select{
    border-radius: 0 0 0.25rem 0.25rem;
  }
  #search_container a{
    width: 30%;
    margin: 5px 5px 5px 0;
    border-radius: 0.25rem;
  }#search_container input#search-box{
    width: 65%;
  }
  #search_container div.input-group-btn{
    width: 100%;
    height: 60px;
  }
  #search-btn{
    margin: 0;
    width: 100%;
  }
}

/* Register page style*/

.register-center {
  position: absolute;
  top: 10%;
  left: 15%;
  background: #fff;
  width: 65%;
  min-width: 400px;
  padding: 40px;
}

.register-center #register-title {
  font-size: 28px;
  margin: 0 0 20px;
  text-align: center;
}

.register-center input[type=text], input[type=password] {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid blue;
  color: #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

.register-center input[type=text], input[type=password]:focus {
  color: #333;
  border: 1px solid lightblue;
}

.register-center .btn {
  cursor: pointer;
  background: blue;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

/* Sign in style */

.login-center {
  position: absolute;
  top: 10%;
  left: 50%;
  background: #fff;
  width: 450px;
  margin: 40px 0 0 -230px;
  padding: 40px;
  height: 500px;
}

.login-Title {
  font-size: 26px;
  margin: 0 0 20px;
  text-align: center;
}

.login-center input[type=text], input[type=password] {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid blue;
  color: #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

.login-center input[type=text], input[type=password]:focus {
  color: #333;
  border: 1px solid lightblue;
}

.login-center .btn {
  cursor: pointer;
  background: blue;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.login-center .btn:hover {
  background: #369cb8;
}

#signup-btn {
  margin-top: 40px;
}

/* Single Auction page style */

.single-auction-main-section {
  background-color: white;
  position: absolute;
  margin: 60px 1% 20px;
  width: 98%;
  min-height: 370px;
  min-width: 1140px;
  border: 1px solid lightgrey;
  padding: 12px 15px;
  -moz-box-shadow:    inset 0 0 4px #000000;
  -webkit-box-shadow: inset 0 0 4px #000000;
  box-shadow:         inset 0 0 4px #000000;
  border-radius: 6px;
}

.single-auction-main-section #image-carousel {
  float: left;
  width: 90%;
  height: 90%;
  max-width: 380px;
  max-height: 230px;
  margin-right: 20px;
  border-radius: 5px;
  text-align: center;
  object-fit: contain;
}
.single-auction-main-section img{
  float: left;
  width:  380px;
  height: 219px;
  object-fit: cover;
}

.single-auction-small-info-section {
  position: absolute;
  right: 20px;
  display: inline;
  width: 200px;
  height: 80px;
  top: 20px;
}

.single-auction-small-info-section span {
  display: block;
  padding-bottom: 9px;
}

.single-auction-btn-section {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

.single-auction-price {
  margin-top: 15px;
  margin-left: 12px;
}

.single-auction-condition {
  margin-left: 25px;
  margin-top: -10px;
  margin-bottom: 18px;
}

.single-auction-img-container {
  float: left;
  width: 320px;
  height: 250px;
}

.single-auction-description {
  margin: 5px;
}

.single-auction-main-info {
  height: 219px;
  margin: 0 240px 0 385px;
}

.single-auction-title {
  word-break: break-all;
}

.single-auction-highest-offer {
  margin-left: 19px;
  text-decoration: underline;
}

#single-auction-btn-sold {
  background-color: grey;
  color: white;
}

.single-auction-accepted_offer-info {
  margin-top: 10px;
  margin-left: 4px;
  font-size: 18px;
}
/* Add Auction page style */

.add-auction-center {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  background: #fff;
  padding: 40px;
}

.add-auction-center #id_description{
  height: 160px
}

/* Payment info style */

.pay-card-holder {
  position: absolute;
  top: 9.5%;
  left: 10%;
  background: #fff;
  width: 81%;
  min-width: 500px;
  padding: 35px 70px 10px;
  height: 705px;
  text-align: center;
}

@media screen and (max-width: 700px), (max-height: 500px) {
  .pay-card-holder {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.pay-card-holder label {
  margin: 20px 0 10px 0;
}

.pay-card-holder input {
  margin: 0 4px 8px
}

.pay-card-holder .btn {
  cursor: pointer;
  background: blue;
  width: 50%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 25px;
}

#month_year {
  margin: auto;
  width: 50%;
}

/* User View Offers Style */

.user-offers-main-title {
  margin: 20px 5px;
}

.card {
  width: 95%;
  min-width: 500px;
  max-width: 650px;
  margin: 10px 2%;
  padding: 10px 15px;
  display: inline-grid;
}

.card .pay_button_Accepted{
  text-align: right;
  margin-bottom: 10px;
}

.received_offers .well {
  border: 2px outset lightgrey;
  background-color: white;
  width: 90%;
  margin: 20px auto;
  min-width: 550px;
  padding: 10px 20px;
}

.received_offers .well #offer-view-btn {
  width: 80%;
  margin: 10px 10%;
}

.offers-sent-offers img{
  object-fit: cover;
  width: 100%;
  height: 80%;
}

.offers-received-offers img{
  object-fit: cover;
  width: 100%;
  height: 80%;
}

.offer-sort-buttons {
  margin-left: 30px;
}

.offer-sort-buttons .btn {
  margin: 5px 10px;
}
