main {
  margin-top: 65px;
}

/* The sidebar menu */
.profile_container {
  display: flex;
  margin-top: 65px;
}
.sidenav {
  padding-top: 40px;
  height: 100%;
  width: 280px;
  min-width: 280px;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 12px 45px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: grey;
}
/* Style page content */
.main_page {
  height: 100%;
  width: 100%;
}

#user-profile-picture {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;

  margin: 35px 0px 20px 30px;
}

#user-profile-username {
  position: absolute;
  margin: 98px 3% 3% 3%;
  font-size: 35px;
}

.user-profile-small-info {
  margin: 20px 20px 20px 50px;
}

.user-profile-small-info a {
  font-size: 20px;
  margin: 10px 0px 0px 0px;
  display: block;
}

.user-profile-other-buttons {
  position: absolute;
  right: 6%;
  top: 70px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

/* Register page style*/

#register-title {
  margin: 90px 0px 20px 40px
}

.form {
  margin: 40px 2% 80% 4%;
}

.form input {
  margin-bottom: 1.5%;
  max-width: 600px;
}

.form label[for='id_email'] {
  margin-top: 10px;
  display: block;
}

.form .btn {
  position: relative;
}