/* The sidebar menu */
.profile_container {
  display: flex;
  margin-top: 65px;
}
.sidenav {
  height: 100%;
  width: 280px;
  min-width: 280px;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 12px 45px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: grey;
}
/* Style page content */
.main_page {
  height: 100%;
  width: 100%;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}