{% extends 'base.html' %}
{% block content %}
    <h2>Auctions!</h2>
    {% for auction in object_list %}
        <style>
            main div{
                border: 2px solid gray;
                margin: 5px auto;
                padding: 5px;
                width: 800px;
            }
            main img{
                width: 790px;
                height: 250px;
            }
        </style>
        <a href="/{{ auction.id }}">
            <div class="well">
                {% for img in auction.images.all %}
                    <img src="{{ img.link }}">
                {% endfor %}
                <h3>{{ auction.title }}</h3>
            </div>
        </a>
    {% endfor %}

{% endblock %}