{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="search_container" class="input-group">
        <a href="{% url 'auction:addAuction' %}" class="btn btn-info" role="button">Add Auction</a>
        <input id="search-box" type="search" placeholder="search.." class="form-control" />
        <ul id="orderby_drop">
            <label>Order By</label>
            <select id="order_by_select" class="form-select" aria-label="Order by select">
                <option value="creation_time" selected>Newest &#10033;</option>
                <option value="price">Lowest Price &#9046;</option>
                <option value="title">Alphabet &#127312;</option>
            </select>
        </ul>
        <ul id="direction_drop">
            <label>Direction</label>
            <select id="direction_select" class="form-select" aria-label="Order by select">
                <option value="desc" selected>Descending &#9660;</option>
                <option value="asc">Ascending &nbsp;&nbsp;&#9650;</option>
            </select>
        </ul>
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div id="main_auction_and_category_container" style="display: flex;">
        <div id="auctions_container" style="display: flex; flex-wrap: wrap; width: 70%;">
            {% for auction in object_list %}
                <div class="card">
                    <div class="card-header">
                        <h5 style="font-weight: 400; line-height: 1.2;">{{ auction.title }}</h5>
                    </div>
                    <div style="height: 200px; text-align: center;"><img src="{{ auction.images.first.link }}" class="card-img-middle" alt="..." style="max-height: 100%; max-width: 100%;"></div>
                    <div class="card-body">
                        <h5 class="card-text">{{ auction.price }}<span style="font-size: 15px">Kr.</span></h5>
                        <p> Posted: {{ auction.creation_time|date:'j M, Y - H:i' }}<small style="font-size:15px">{{ auction.creation_time|date:'.s' }}</small></p>
                        <a href="{% url 'auction:singleAuction' pk=auction.id %}" class="btn btn-primary stretched_link">View Auction</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="category_container" style="width: 30%; margin:10px ;">
            <h1 class="display-6">Categories</h1>
            <ul id="category_list" class="list-group">
                <li class="list-group-item active" data-catid="all">All</li>
                {% for category in  categories%}
                   <li class="list-group-item" aria-current="true" data-catid="{{ category.id }}">&nbsp;&nbsp;&nbsp;{{ category.name }}</li>
                {% endfor %}
            </ul>
            <div class="live-old-buttons">
        <div class="well" id="live-old-buttons">
            <input type="radio" class="form-check-input" name="live_old" id="live" value="False" checked>
            <label class="form-check-label" for="live" >Live auctions </label>
            <br>
            <input type="radio" class="form-check-input" name="live_old" id="old" value="True">
            <label class="form-check-label" for="old" >Old / Finished auctions</label>
        </div>
    </div>
        </div>
    </div>
{% endblock %}