{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h2>View Offers</h2>
    <div class="well">
        <input type="radio" class="btn-check" name="options" id="sent"  checked>
        <label class="btn btn-secondary" for="sent" onclick="offers_rb(0)">Sent offers</label>

        <input type="radio" class="btn-check" name="options" id="received" >
        <label class="btn btn-secondary" for="received" onclick="offers_rb(1)">Received offers</label>
    </div>
    <div class="sent_offers">
        {% for offer in offer_list %} {# SENT OFFERS #}
                <div class="well container-fluid ">
                    <div class="row">
                        <a href="/{{offer.auction.id}}"> {{ offer.auction.title }}</a>
                        <h4>{{ offer.auction.user }}</h4> {# ToDo link to seller profile #}
                    </div>
                    <div class="row">
                        <h4> Offer: {{ offer.price }}</h4>
                        <h4> {{ offer.get_status }}</h4>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div class="received_offers ">
        {% for offer in received_offers %} {# SENT OFFERS #}
                <div class="well container-fluid ">
                    <div class="row">
                        <a href="/{{offer.auction.id}}"> {{ offer.auction.title }}</a>
                        <h4>{{ offer.auction.user }}</h4> {# ToDo link to seller profile #}
                    </div>
                    <div class="row">
                        <h4> Offer: {{ offer.price }}</h4>
                        <h4> {{ offer.get_status }}</h4>
                        <!-- Make offer button -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#offerModal">
                            View
                        </button>
                        <!-- View offer Modal -->
                        <div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#offerModal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                          <button type="button" class="btn btn-success">Accept</button>
                                          <button type="button" class="btn btn-danger">Decline</button>
                                          <button type="button" class="btn btn-warning">Make Counter offer</button>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/offers.js' %}"></script>

{% endblock %}