{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="payment_container_carousel" class="carousel carousel-dark carousel-fade" data-bs-interval="false" data-ride="carousel" data-keyboard="false">
        <div class="carousel-indicators" style="bottom: -50px;">
            <button type="button" data-bs-target="#payment_container_carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#payment_container_carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#payment_container_carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="width: 68%; margin: 0 auto;">
            <div class="carousel-item active">
                <h3 style="font-weight: 100; text-align: center">1. Contact Information</h3>
                <br>
                <label for="saved_payment_options">OPTIONAL: Fill out forms with saved contact & card info:</label>
                <form action="/pay/{{ object.id }}/" method="get">
                    <select id="saved_payment_options" name="fill_in_saved">
                        <option value="dont_use_saved">--------</option>
                        {% for card in object.user.cards.all %}
                            <option value="{{ card.id }}">Contact: {{card.first_name}}, {{ card.street }}, {{ card.house_number }}. Cardholder: {{ card.cardholder_first_name }}, {{ card.card_number }}.</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary">Fill out</button>
                </form>
                <br>
                <br>
                <form id="contact_form">
                    {{ contact_form }}
                </form>
            </div>
            <div class="carousel-item">
                <h3 style="font-weight: 100; text-align: center;">2. Payment Information</h3>
                <form id="payment_form">
                    {{ payment_form }}
                </form>
            </div>
            <div class="carousel-item">
                <h3 style="font-weight: 100; text-align: center">3. Overview</h3>
                <p style="text-align: center">Please confirm that the info below is correct before paying.</p>
                <div id="payment_overview_container">
                    <div id="payment_overview_offer">
                        <div class="card">
                            <div class="card-header">
                                <h5 style="font-weight: 400; line-height: 1.2;">{{ object.auction.title }}</h5>
                            </div>
                            <div style="height: 200px; text-align: center;"><img src="{{ object.auction.images.first.link }}" class="card-img-middle" alt="..." style="max-height: 100%; max-width: 100%;"></div>
                            <div class="card-body">
                                <h5 class="card-text">Price: {{ object.price }}<span style="font-size: 15px">Kr.</span></h5>
                                <p> Posted: {{ object.auction.creation_time|date:'j M, Y - H:i' }}<small style="font-size:15px">{{ object.auction.creation_time|date:'.s' }}</small></p>
                                <p> Seller: {{ object.auction.user }}</p>
                            </div>
                        </div>
                    </div>
                    <form id="last_pay_form" action="/pay/{{ object.id }}/" method="post">
                        {% csrf_token %}
                        {{ contact_form }}
                        {{ payment_form }}
                        <input type="hidden" id="payment_country_hidden_input" name="contact_form-country">
                        <input type="checkbox" id="payment_save_details_checkbox" name="payment_detail_save-checkbox">
                        <label for="payment_save_details_checkbox">Save these payment details for later use?</label>
                        <br>
                        <button type="submit" class="btn btn-primary">Confirm & Pay</button>
                    </form>
                </div>

            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#payment_container_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#payment_container_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}