{% extends "base.html" %}
{% block content %}
    <div class="single-auction-main-section">
{#        <div class="single-auction-img-container">#}
        {% for image in auction.images.all %}
            <img src="{{ image.link }}">
        {% endfor %}
{#        </div>#}
        <div class="single-auction-main-info">
            <div class="single-auction-title">
                <h1 class="single-auction-title">{{ auction.title }}</h1>
            </div>
            <p class="single-auction-description">{{ auction.description }}</p>
        </div>
        <h4 class="single-auction-price">Price: {{ auction.price }} kr </h4>
        <p class="single-auction-small-info-section">
            <span> Seller: {{ auction.user.username }} </span>
            <span>Location: {{ auction.loc.name }} </span>
            <span>Category: {{ auction.cat.name }} </span>
        </p>

        <span class="single-auction-condition">Condition: {{ auction.condition }}</span>

        <div class="single-auction-btn-section">
            {% if request.user.username != auction.user.username %}
            <!-- Make offer button -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#offerModal">
                Make offer
            </button>
            {% endif %}

            {% if request.user.username == auction.user.username %}
                <button type="button" class="btn btn-primary">Edit Info</button>
            {% endif %}
        </div>
    </div>

    <!-- Make offer Modal -->
    <div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="offerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="offerModalLabel">Make Offer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bs-toggle="modal"
                            data-bs-target="#offerModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="{% url 'auction:singleAuction' pk=auction.id %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Send" class="btn btn-primary pull-right"
                               style="clear:both; margin: 10px 0">
                    </form>
                 </div>
            </div>
        </div>
    </div>


{% endblock %}