{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>My Auctions</h1>
    {% for auction in object_list %}
         <div class="card" style="margin: 10px;">
            <div class="card-header">
                <h5 style="font-weight: 400; line-height: 1.2;">{{ auction.title }}</h5>
            </div>
            <div style="height: 200px; text-align: center;"><img src="{{ auction.images.first.link }}" class="card-img-middle" alt="..." style="max-height: 100%; max-width: 100%;"></div>
            <div class="card-body">
                <h5 class="card-text">{{ auction.price }}<span style="font-size: 15px">Kr.</span></h5>
                <p> Posted: {{ auction.creation_time|date:'j M, Y - H:i' }}<small style="font-size:15px">{{ auction.creation_time|date:'.s' }}</small></p>
                <a href="{% url 'auction:singleAuction' pk=auction.id %}" class="btn btn-primary stretched_link">View Auction</a>
                <a href="{% url 'auction:offers' %}?received_offers" class="btn btn-info stretched_link">See offers</a> <!-- TODO: if filter by auction in offers screeen is implemented make this filter by this auction -->
                <a href="" class="btn btn-danger stretched_link">Delete Auction</a>
            </div>
         </div>
    {% endfor %}
{% endblock %}