{% extends 'user/profile.html' %}
{% block profile_main_page %}
    <div class="user-profile-info">
        <img id="user-profile-picture" src="{{ user.profile.profile_picture }}">
{#        <a id="user-profile-frst"></a>#}
        <a id="user-profile-username">{{ user.username }}</a>
        <div class="user-profile-small-info">
            <a id="user-profile-joined">Joined</a>
            <a id="user-profile-email">email: </a>
            <a id="user-profile-born">{{ user.profile.birthday }}</a>
        </div>
    </div>


    <div class="user-profile-other-buttons">
        {%  if request.user.username != user.username %}
            <button id="user-profile-report-user">Report User</button>
        {% endif %}
        {% if request.user.is_admin %} {# Change this depending on what is we are gonna use #}
            <button id="user-profile-ban-user">Ban User</button>
        {% endif %}
    </div>
{% endblock %}